html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: var(--robin-border-radius);
    background-color: var(--robin-dark-blue);
}

